.new-load-div {

    width: 700px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    text-align: center;
    border: solid lightgray 2px;
    padding: 2em;

}

.game-mode-div {

    padding: 2em;
    border: solid lightgray 2px;
    margin-top: 2%;
    margin-bottom: 2%;

}

.close-btn{

    float: right;
    margin-top: -5%;
    margin-right: -4%;
    color: white;

}